@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body
{
    background-color: #022876;
    color: #EEEEEE;
    font-family: 'Play', sans-serif;
}

.table
{
    position: relative;
    top: 90px;
}

.sysConf
{
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px;
    width: 25%;
}

.logoPic
{
    position: absolute;
    right: 2%;
    bottom: 4%;
}

.header
{
    position: fixed;
    background-color: #001b5f;
    height: 90px;
    z-index: 9000;
    width: 100%;
}

.upperString
{
    padding-top: 1.5%;
    padding-bottom: 20px;
    padding-left: 25px;
    display: inline-block;
    font-size: 30px;
    float: left;
}

@media screen and (orientation: portrait)
{
}